#MAILTO=rahulamaram@meta.com
SHELL=/bin/bash
PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin

#55 9 * * * /usr/bin/osascript -e 'tell application "System Events" to display dialog "********** LOCKDOWN IN 5 MINUTES **********\n\nUnlock only if you have any tasks that have to be completed today" buttons {"OK"} with icon caution' > /dev/null 2>&1

0 * * * * /bin/test -s /var/mail/rahulamaram && /usr/bin/osascript -e 'display notification "Check /var/mail/rahul.amaram" with title "You got mail!"'

# See https://borgbackup.readthedocs.io/en/stable/faq.html#how-can-i-specify-the-encryption-passphrase-programmatically for different ways of programatically passing borg passphrase
# Ideally, we should have used macOS keychain for reading borg password but I couldn't get to read keychain password from cron even after trying some recommended solutions (ex. https://apple.stackexchange.com/questions/266615/how-to-access-keychain-of-my-user-from-cron)
# It probably would have worked if we defined launchctl job instead but cron job felt much more convenient compared to creating and maintaining launchctl job
# Additionally, /usr/sbin/cron has been given Full Disk Access (https://osxdaily.com/2020/04/27/fix-cron-permissions-macos-full-disk-access/) so that it can access user's protected directories (such as Desktop)
# Command is retried twice to take care of random errors
#30 * * * * borg_args=" create '/System/Volumes/Data/backups/Dropbox (Meta)/borg'::'{hostname}-{now}' /Users/rahulamaram -e '/Users/rahulamaram/Downloads' -e '/Users/rahulamaram/.cache' -e '/Users/rahulamaram/.hgcache' -e '/Users/rahulamaram/.Trash' -e '/Users/rahulamaram/Library/Caches' -e '/Users/rahulamaram/Library/Google/GoogleSoftwareUpdate/Stats/Keystone.stats' -e '/Users/rahulamaram/fbsource' -e '/Users/rahulamaram/.android' -e '/Users/rahulamaram/local'"; echo $borg_args | BORG_PASSCOMMAND="cat /Users/rahulamaram/.borg-passphrase" xargs /usr/local/bin/borg 2>/dev/null || (sleep 5; echo $borg_args | BORG_PASSCOMMAND="cat /Users/rahulamaram/.borg-passphrase" xargs /usr/local/bin/borg)
*/10 * * * * borg_args=" create '/System/Volumes/Data/backups/Dropbox (Meta)/borg'::'{hostname}-{now}' /Users/rahulamaram/Desktop /Users/rahulamaram/Documents /Users/rahulamaram/Pictures '/Users/rahulamaram/Library/Application Support/Anki2' '/Users/rahulamaram/Library/Application Support/JetBrains' /Users/rahulamaram/.ssh /Users/rahulamaram/.vimrc.local /Users/rahulamaram/.zsh_history /Users/rahulamaram/.gitconfig /Users/rahulamaram/.hgrc '/Users/rahulamaram/Google Drive/My Drive' -e '/Users/rahulamaram/Google Drive/My Drive/tmp' -e '*.gdoc' -e '*.gdocx' -e '*.gdraw' -e '*.gform' -e '*.glink' -e '*.gmap' -e '*.gsheet' -e '*.gslides' -e '*.gtable'"; test -e '/Users/rahulamaram/Google Drive' && (echo $borg_args | BORG_PASSCOMMAND="cat /Users/rahulamaram/.borg-passphrase" xargs /usr/local/bin/borg 2>/dev/null || (sleep 5; echo $borg_args | BORG_PASSCOMMAND="cat /Users/rahulamaram/.borg-passphrase" xargs /usr/local/bin/borg))
